.main-body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.main-body * {
  font-family: 'Indie Flower';
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.btn {
  background-color: #00bcff;
  min-width: 150px;
  height: 50px;
  font-size: 25px;
}
.btn:hover {
  background-color: #e73c7e;
}
.btn:disabled {
  background-color: #333;
}
.inp {
  background-color: white;
  color: black !important;
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #00bcff;
}
.inp:focus-visible {
  outline: none;
}
.select {
  width: 200px;
  height: 50px;
  font-size: 25px;
  border: 1px solid #00bcff;
}
.text-center {
  text-align: center;
}
#__next {
  overflow-x: visible !important;
}
.full-screen {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 500px;
  height: 500px;
  background-color: white;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
}
.details-container {
  width: 350px;
}
.opacity-75 {
  opacity: 0.75;
}
.shadow-50 {
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.50);
}
.shadow-25 {
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.25);
}
.container {
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.flex-col-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* GENERAL SETTINGS END */

/* MOBILE SCREEN SIZE START */
@media (max-width: 550px) {
  .box h1 {
    font-size: 25px;
  }
  .box {
    width: 300px;
    height: 300px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
  }
  .details-container {
    width: 225px;
  }
  .btn {
    min-width: 100px;
    height: 30px;
    font-size: 15px;
  }
  .inp {
    width: 125px;
    height: 30px;
    font-size: 15px;
  }
  .select {
    width: 125px;
    height: 30px;
    font-size: 15px;
  }
}
/* MOBILE SCREEN SIZE END */

/* LOADING ANIMATION */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-grid div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 20px;
  left: 20px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 20px;
  left: 80px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 20px;
  left: 140px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 80px;
  left: 20px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 80px;
  left: 80px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 80px;
  left: 140px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 140px;
  left: 20px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 140px;
  left: 80px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 140px;
  left: 140px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
