.players-container, .players-container-visible {
  background: linear-gradient(45deg, rgba(213,35,103,1) 0%, rgba(255,160,122,1) 100%);
  position: absolute;
  height: calc(100vh - 5% - 20px);
  padding: 10px;
  width: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: scroll;
  scrollbar-width: none;
}
.title-container {
  width: 100%;
  text-align: center;
  background: linear-gradient(45deg, rgba(35,166,213,1) 0%, rgba(35,213,171,1) 78%);
  padding: 10px 0;
  border-radius: 5px;
  font-weight: bold;
}
.players-container {
  top: calc(100% + 40px);
  left: 0;
}
.players-container-visible {
  top: calc(5% + 20px);
  left: 10px;
}
.players-wrapper {
  width: 100%;
  height: calc(100% - 5% - 20px);
  padding: 10px 0;
}
.players {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}
.player {
  display: flex;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.player-name {
  font-weight: bold;
}
.details-container {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, yellow 100%);
  width: calc(100% - 50px);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.kick-btn {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}
.kick-btn:hover {
  background-color: rgb(255, 100, 100);
}
.label {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 550px) {
  .players-wrapper {
    height: calc(100% - 5% - 40px);
  }
  .players-container, .players-container-visible {
    width: 100vw;
    min-width: none;
    height: calc(100vh - 5% - 40px);
    left: 0px;
  }
  .players-container-visible {
    top: calc(5% + 40px);
  }
}