/* GENERAL SETTINGS START */
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0px;
  border: none;
  transition: 200ms;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h4, h5 {
  margin: 0 !important;
}

button:hover {
  cursor: pointer;
}
input {
  border: 1px solid #333;
}
input:focus-visible {
  outline: none;
}
.text-center {
  text-align: center;
}
#__next {
  overflow-x: visible !important;
}
.full-screen {
  width: 100vw;
  height: 100vh;
}
.opacity-75 {
  opacity: 0.75;
}
.shadow-50 {
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.50);
}
.shadow-25 {
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.25);
}
.flex-col-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* GENERAL SETTINGS END */

/* Navbar css BEGIN */
/* Navbar css END */

/* Footer css BEGIN */
/* Footer css END */

/* MOBILE SCREEN SIZE START */
@media (max-width: 550px) {
}
/* MOBILE SCREEN SIZE END */

/* PLAYING CARD START */
.playing-card {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  position: relative;
}
.playing-card .card-value {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 250%;
  font-weight: bold;
}
/* PLAYING CARD END */