/* GENERAL SETTINGS START */
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0px;
  background-color: black;
  color: white !important;
  border: 1px solid #333;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
h4, h5 {
  margin: 0 !important;
}
button {
  background-color: darkmagenta;
}
button:disabled {
  background-color: #333;
}
input {
  background-color: white;
  color: black !important;
}
.input-container {
  width: 250px;
}
.input-container.fill {
  width: 100%;
}
.input-helper-text {
  color: #666666;
  font-size: small;
  font-style: italic;
}
#__next {
  overflow-x: visible !important;
}
.container {
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
}
.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* GENERAL SETTINGS END */

/* Navbar css BEGIN */
/* Navbar css END */

/* Footer css BEGIN */
/* Footer css END */

/* MOBILE SCREEN SIZE START */
@media (max-width: 550px) {
}
/* MOBILE SCREEN SIZE END */

/* PLAYING CARD START */
.playing-card {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  position: relative;
}
.playing-card .card-value {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 250%;
  font-weight: bold;
}
/* PLAYING CARD END */